<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.ginsberg.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ginsberg</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>IBCustomFonts</key>
	<dict>
		<key>HelveticaNeue-Bold</key>
		<string>OpenSans-Bold</string>
		<key>HelveticaNeue-Italic</key>
		<string>OpenSans-Light</string>
		<key>HelveticaNeue-Regular</key>
		<string>OpenSans-Regular</string>
		<key>HelveticaNeue-Thin</key>
		<string>OpenSans-Semibold</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>iPhone</string>
	<key>UIMainStoryboardFile</key>
	<string>iPhone</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>GinsbergClientID</key>
	<string>B2GCEFFD62ED69K9C345E226A747AA8620CC8540</string>
	<key>GinsbergClientSecret</key>
	<string>52C3CCCABF0263F7B64F4EBAEB0FDB3366A647D3</string>
    <key>GinsbergGoogleAnalyticsID</key>
    <string>UA-55451347-2</string>
    <key>GinsbergLocalyticsID</key>
    <string>553f775248e3df4f38698c6-3f9dfeab-42b3-14e4-c03d-005ce4dbabd8</string>
    <key>GinsbergCrashalyticsID</key>
    <string>ea5359429b52a4673623751d9b5e35d5a4413d55</string>
</dict>
</plist>
